<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">INICIO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Movimiento nuevo<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <!-- <button class="btn btn-danger btn-circle btn-lg btn-outline " type="button"><b>HB</b>
                </button> -->
                <button class="btn btn-outline btn-info  dim" type="button"><i>HB</i> </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline btn-info  dim" type="button"><i>US</i> </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline btn-info  dim" type="button"><i>I2D</i> </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline btn-info  dim" type="button"><i>BR</i> </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline btn-info  dim" type="button"><i>IRA</i> </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline btn-info  dim" type="button"><i>DCJ</i> </button>
            </li>
        </ul>
        <div class="dropdown">
            <button class="btn btn-white dropdown-toggle btn-xs" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a><i class="fa fa-user-circle lg" aria-hidden="true"></i></a>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Acción1</a>
                <a class="dropdown-item" href="#">Acción2</a>
                <a class="dropdown-item" href="#">Salir</a>
            </div>
        </div>
    </div>
</nav>